@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #ccc9c9;
}

.card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.text {
    font-size: 1.5em;
    font-weight: 500;
}

#quizImage {
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.image-caption {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    text-align: center;
    opacity: 0.7;
}

.answerBtn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answerBtn-yes {
    background-color: #90ee90; /* Ljus grön färg */
    color: #fff;
    border: none;
}

.answerBtn-yes:hover {
    background-color: #66cc66; /* Ljusare nyans av grön vid hover */
}

.answerBtn-no {
    background-color: #ff9999; /* Ljus röd färg */
    color: #fff;
    border: none;
}

.answerBtn-no:hover {
    background-color: #ff6666; /* Ljusare nyans av röd vid hover */
}

#nextImage {
    background-color: #ff69b4; /* Rosa färg */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px; /* Rundade hörn för en mjukare look */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextImage:hover {
    background-color: #ff1493; /* Ljusare nyans av rosa vid hover */
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2em; 
    margin-bottom: 20px; 
    border-radius: 15px; 
    background-color: #f8f9fa; 
    color: #ff1493; /* Rosa textfärg */
}

.bold-text {
    font-weight: 700;
}
